node_modules
dist
.DS_Store
.env
.env.*
server/public
vite.config.ts.*
*.tar.gz
client/public/sample-data/worldpop_bra_2020.tif
package-lock.json
package.json
iptu/iptu_2025.csv
iptu/iptu_2025_cleaned.csv
client/public/sample-data/porto-alegre-google-solar-commercial-buildings.json
client/public/sample-data/porto-alegre-google-solar-municipal-buildings.json
